header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0 15px 0;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
}




footer{
    background-color: var(--primary-color);
    padding: 10px 0 50px 0;
    display: flex;
    justify-content: space-between;

    
}

.icon{
    fill: black;
}

.text{
    color: var(--white);
    
}

