header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0 15px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 0 20px;
    grid-row: 1;
    
}

body{
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100vh;
    grid-template-rows: 1fr auto 1fr;
}


footer{
    background-color: var(--primary-color);
    padding: 10px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    overflow: hidden; 
    grid-row: 3;

}
.active{
    text-decoration: none;
    color: var(--primary-action);
    }

a{
    text-decoration: none;
    color: var(--black);

}

/* vragen hoe ik een afbeelding een kleur kan geven */
.icons{
    color: black;
    
}

.text{
    color: var(--white);
    
}


.scroll{
    max-height: 80%;
    grid-row: 2;
    
}

section{
    padding-left: 1em;
}

