header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px 0 15px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}




footer{
    background-color: var(--primary-color);
    padding: 10px 0 50px 0;
    display: flex;
    justify-content: space-between;
    position: sticky;

}

/* vragen hoe ik een afbeelding een kleur kan geven */
.icons{
    color: black;
    
}

.text{
    color: var(--white);
    
}

.active{
    color: var(--secondary-action);
}

.scroll{
    max-height: 200px;
    overflow-y:auto;
}